# Ignore PyCharm project settings
.idea/
# Ignore Python cache
__pycache__/
*.pyc
# Ignore benchmark run logs
benchmark_runs/*.csv

# Ignore packaging files
*.egg-info/
dist/
build/

# Ignore .env with keys
.env